// @import "compass";
@import "partials/variables";
@import "partials/normalize";
@import "partials/mixins";
@import "partials/base";
@import "partials/util";
@import "partials/list";
@import "partials/buttons";
@import "partials/inputs";
@import "partials/overlay";
@import "partials/menu";
@import "partials/recipe";
@import "partials/schedule";

html{
    @include fullscreen;
    @include box-sizing;
}

 
  
body{
    @include fullscreen;
    background: map-get($colors, slate);
    // background: linear-gradient(45deg, $slate, $cloud);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

// #header{
//     height: 100px;
// }

// .container{
//     @include center;
//     width: 94%;
//     height: 100%;
//     position: relative;
//     z-index: 0;
// }

.container{
    @include center;
    @include flexbox;
    justify-content: flex-start;
    flex-direction: column;
    width: 94%;
    height: 100%;
    position: relative;
}

.container--wrap{
    flex-wrap: wrap;
}

#listFilter{
    width: 100%;
    // position: absolute;
    // flex:0 1 auto;
}

#groceryList{
    width: 100%;
    
    overflow: auto; 
    // position: absolute;
    // flex:0 1 auto;
}

.header{
    width: 100%;
}



.food-list{
    align-items: center;
    height: 100%;
}

.food-details{
    @include flexbox;
    justify-content: center;
    padding: 5px 10px;
}

.detail{    
    font-size: 1.2em;
    font-weight: 400;
    color: map-get($colors, slate);
    padding:5px;
}

.button-row{
    @include flexbox;
    width: 100%;
    font-size: 1.2em;
    font-weight: 400;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}



.error-mssg{
    background:map-get($colors, ice);
    color: map-get($colors, danger);
    padding-left: 50px;
}


.nav-mobile{
    @include flexbox;
    justify-content: space-between;
}
