// @import "compass";
@import "partials/variables";
@import "partials/normalize";
@import "partials/mixins";
@import "partials/base";

html{
    @include fullscreen;
}

body{
    @include fullscreen;
    background: $slate;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

#header{
    height: 65px;
}

.container{
    @include center;
    width: 94%;
    height: 100%
}

.food{
    align-items: center;
    &.list{
        @include round-top(7px);
        background: $ice;
        height: 100%;
    }
    &.item{
        @include shadow(0.75);
    }
    &.display{
        
        @include flexbox;
        padding: 5px;
        height: $list-item-height;
        &.produce{
            background: $produce;
        }
        &.edit{
            background: $ice;
        }
    }
    &.edit{
        // height:150px;
        background: $ice;
    }
    &.icon{ 
        @include round(50%);
        height: 30px;
        width: 30px;
        text-align: center;
        vertical-align: middle;
        font-size: 1.4em;
        font-weight: 700;
        &.svg{
            width: $edit-icon-size;
            height: $edit-icon-size;
            opacity: 0.25;
            margin-right: 15px;
            fill: $ice;
            
        }
        &.meat{
            color:$meat;
            // background:$meat; 
            border: 2px solid $meat;
        }
        &.produce{
            background:$ice;
            color:$produce;
            // opacity:0.25;
            border: 2px solid $produce;
        }
    }
   
}

.text-input{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.33em;
    font-weight: 500;
    color: $ice;
    @include round(15px);
    background:transparent;
    padding:5px 0 5px 10px;
    margin: 0 15px 0 5px;    
    border:none;
    outline: none;
    &.title{
        width:25px;
        flex-grow:1;
    }   
    &.edit{
        background: #fff;
        color: $slate;
        @include shadow(0.15);
    }
    &:focus{
        background: $slate;
        color: $ice; 
    }
}

.food-details{
    display: flex;
    padding: 5px 10px;
}

.detail{
    font-size: 1.2em;
    font-weight: 400;
    color: $slate;
    padding:5px;
}

.button{
    padding: 5px 10px;
    @include round(15px);
    font-size: 1.15em;
    font-weight: 400;
    &.mint{
        background: $mint;
        color: $ice;
        &:hover{
            background: $mint-dark;
        }
    }
    &.grey{
        background: $cloud;
        color: $ice;
        &:hover{
            background: $slate;
        }
    }
    &.drop{
        @include round(0);
        @include round-top(15px);

    }
    
}

.dropdown{
    list-style: none;
    margin: 0;
    padding: 0;
    &.list{
        @include round-bottom(15px);
        @include shadow(0.2);
    }
    &.item{
        padding: 5px 10px;
        margin: 0;
        background: #fff;
        line-height: 1.5em;
        &.select{
            @include focus;
        }
        &.end{
            @include round-bottom(15px);
        }
        &:hover{
            @include focus;
        }
    }
    &.hide{
        display: none;
    }
    
}


// .food.icon{ 
//     @include round(50%);
//     height: 30px;
//     width: 30px;
//     text-align: center;
//     vertical-align: middle;
//     font-size: 1.4em;
//     font-weight: 700;
//     &.meat{
//         color:$meat;
//         // background:$meat; 
//         border: 2px solid $meat;
//     }
//     &.produce{
//         color:$produce;
//         // opacity:0.25;
//         border: 2px solid $produce;
//     }
// }


// .icon{
//     &.edit{
//         width: $edit-icon-size;
//         height: $edit-icon-size;
//         opacity: 0.25;
//         margin-right: 15px;
//         fill: $mint;
        
//     }
// }

