.m-r-2 {
  margin-right: 2px; }

.m-l-2 {
  margin-left: 2px; }

.m-t-2 {
  margin-top: 2px; }

.m-b-2 {
  margin-bottom: 2px; }

.m-2 {
  margin: 2px; }

.p-r-2 {
  padding-right: 2px; }

.p-l-2 {
  padding-left: 2px; }

.p-t-2 {
  padding-top: 2px; }

.p-b-2 {
  padding-bottom: 2px; }

.p-2 {
  padding: 2px; }

.m-r-3 {
  margin-right: 3px; }

.m-l-3 {
  margin-left: 3px; }

.m-t-3 {
  margin-top: 3px; }

.m-b-3 {
  margin-bottom: 3px; }

.m-3 {
  margin: 3px; }

.p-r-3 {
  padding-right: 3px; }

.p-l-3 {
  padding-left: 3px; }

.p-t-3 {
  padding-top: 3px; }

.p-b-3 {
  padding-bottom: 3px; }

.p-3 {
  padding: 3px; }

.m-r-5 {
  margin-right: 5px; }

.m-l-5 {
  margin-left: 5px; }

.m-t-5 {
  margin-top: 5px; }

.m-b-5 {
  margin-bottom: 5px; }

.m-5 {
  margin: 5px; }

.p-r-5 {
  padding-right: 5px; }

.p-l-5 {
  padding-left: 5px; }

.p-t-5 {
  padding-top: 5px; }

.p-b-5 {
  padding-bottom: 5px; }

.p-5 {
  padding: 5px; }

.m-r-7 {
  margin-right: 7px; }

.m-l-7 {
  margin-left: 7px; }

.m-t-7 {
  margin-top: 7px; }

.m-b-7 {
  margin-bottom: 7px; }

.m-7 {
  margin: 7px; }

.p-r-7 {
  padding-right: 7px; }

.p-l-7 {
  padding-left: 7px; }

.p-t-7 {
  padding-top: 7px; }

.p-b-7 {
  padding-bottom: 7px; }

.p-7 {
  padding: 7px; }

.m-r-10 {
  margin-right: 10px; }

.m-l-10 {
  margin-left: 10px; }

.m-t-10 {
  margin-top: 10px; }

.m-b-10 {
  margin-bottom: 10px; }

.m-10 {
  margin: 10px; }

.p-r-10 {
  padding-right: 10px; }

.p-l-10 {
  padding-left: 10px; }

.p-t-10 {
  padding-top: 10px; }

.p-b-10 {
  padding-bottom: 10px; }

.p-10 {
  padding: 10px; }

.m-r-12 {
  margin-right: 12px; }

.m-l-12 {
  margin-left: 12px; }

.m-t-12 {
  margin-top: 12px; }

.m-b-12 {
  margin-bottom: 12px; }

.m-12 {
  margin: 12px; }

.p-r-12 {
  padding-right: 12px; }

.p-l-12 {
  padding-left: 12px; }

.p-t-12 {
  padding-top: 12px; }

.p-b-12 {
  padding-bottom: 12px; }

.p-12 {
  padding: 12px; }

.m-r-15 {
  margin-right: 15px; }

.m-l-15 {
  margin-left: 15px; }

.m-t-15 {
  margin-top: 15px; }

.m-b-15 {
  margin-bottom: 15px; }

.m-15 {
  margin: 15px; }

.p-r-15 {
  padding-right: 15px; }

.p-l-15 {
  padding-left: 15px; }

.p-t-15 {
  padding-top: 15px; }

.p-b-15 {
  padding-bottom: 15px; }

.p-15 {
  padding: 15px; }

.m-r-20 {
  margin-right: 20px; }

.m-l-20 {
  margin-left: 20px; }

.m-t-20 {
  margin-top: 20px; }

.m-b-20 {
  margin-bottom: 20px; }

.m-20 {
  margin: 20px; }

.p-r-20 {
  padding-right: 20px; }

.p-l-20 {
  padding-left: 20px; }

.p-t-20 {
  padding-top: 20px; }

.p-b-20 {
  padding-bottom: 20px; }

.p-20 {
  padding: 20px; }

.m-r-25 {
  margin-right: 25px; }

.m-l-25 {
  margin-left: 25px; }

.m-t-25 {
  margin-top: 25px; }

.m-b-25 {
  margin-bottom: 25px; }

.m-25 {
  margin: 25px; }

.p-r-25 {
  padding-right: 25px; }

.p-l-25 {
  padding-left: 25px; }

.p-t-25 {
  padding-top: 25px; }

.p-b-25 {
  padding-bottom: 25px; }

.p-25 {
  padding: 25px; }

.m-r-30 {
  margin-right: 30px; }

.m-l-30 {
  margin-left: 30px; }

.m-t-30 {
  margin-top: 30px; }

.m-b-30 {
  margin-bottom: 30px; }

.m-30 {
  margin: 30px; }

.p-r-30 {
  padding-right: 30px; }

.p-l-30 {
  padding-left: 30px; }

.p-t-30 {
  padding-top: 30px; }

.p-b-30 {
  padding-bottom: 30px; }

.p-30 {
  padding: 30px; }

.m-r-50 {
  margin-right: 50px; }

.m-l-50 {
  margin-left: 50px; }

.m-t-50 {
  margin-top: 50px; }

.m-b-50 {
  margin-bottom: 50px; }

.m-50 {
  margin: 50px; }

.p-r-50 {
  padding-right: 50px; }

.p-l-50 {
  padding-left: 50px; }

.p-t-50 {
  padding-top: 50px; }

.p-b-50 {
  padding-bottom: 50px; }

.p-50 {
  padding: 50px; }

.spacer-2 {
  width: 2px; }

.spacer-3 {
  width: 3px; }

.spacer-5 {
  width: 5px; }

.spacer-7 {
  width: 7px; }

.spacer-10 {
  width: 10px; }

.spacer-12 {
  width: 12px; }

.spacer-15 {
  width: 15px; }

.spacer-20 {
  width: 20px; }

.spacer-25 {
  width: 25px; }

.spacer-30 {
  width: 30px; }

.spacer-50 {
  width: 50px; }

.flex--ai-ctr {
  align-items: center; }

.hide {
  display: none; }

.txt--slate {
  color: #3A3A3A; }

.txt--metal {
  color: #5a5a5a; }

.txt--cloud {
  color: #B2B2B2; }

.txt--ash {
  color: #e7e7e7; }

.txt--ice {
  color: #f7f7f7; }

.txt--mint {
  color: #05D0A8; }

.txt--danger {
  color: #D44216; }

.txt--add {
  color: #1cd8ed; }

.txt--meat {
  color: #7C1347; }

.txt--dairy {
  color: #128493; }

.txt--produce {
  color: #407F08; }

.txt--bakery {
  color: #A86018; }

.txt--frozen {
  color: #76C3E5; }

.txt--sundries {
  color: #BFBD62; }

.txt--packaged {
  color: #1B699E; }

.txt--junk {
  color: #5A427F; }

.txt--beverages {
  color: #5ba4d4; }

.txt--baking {
  color: #c7ab2c; }

.txt--mint-hover {
  color: #10977C; }

.txt--produce-hover {
  color: #509b0d; }

.txt--mint-trans {
  color: rgba(5, 208, 168, 0.5); }

.fill--slate {
  fill: #3A3A3A; }

.fill--metal {
  fill: #5a5a5a; }

.fill--cloud {
  fill: #B2B2B2; }

.fill--ash {
  fill: #e7e7e7; }

.fill--ice {
  fill: #f7f7f7; }

.fill--mint {
  fill: #05D0A8; }

.fill--danger {
  fill: #D44216; }

.fill--add {
  fill: #1cd8ed; }

.fill--meat {
  fill: #7C1347; }

.fill--dairy {
  fill: #128493; }

.fill--produce {
  fill: #407F08; }

.fill--bakery {
  fill: #A86018; }

.fill--frozen {
  fill: #76C3E5; }

.fill--sundries {
  fill: #BFBD62; }

.fill--packaged {
  fill: #1B699E; }

.fill--junk {
  fill: #5A427F; }

.fill--beverages {
  fill: #5ba4d4; }

.fill--baking {
  fill: #c7ab2c; }

.fill--mint-hover {
  fill: #10977C; }

.fill--produce-hover {
  fill: #509b0d; }

.fill--mint-trans {
  fill: rgba(5, 208, 168, 0.5); }

.bg--slate {
  background: #3A3A3A; }

.bg--metal {
  background: #5a5a5a; }

.bg--cloud {
  background: #B2B2B2; }

.bg--ash {
  background: #e7e7e7; }

.bg--ice {
  background: #f7f7f7; }

.bg--mint {
  background: #05D0A8; }

.bg--danger {
  background: #D44216; }

.bg--add {
  background: #1cd8ed; }

.bg--meat {
  background: #7C1347; }

.bg--dairy {
  background: #128493; }

.bg--produce {
  background: #407F08; }

.bg--bakery {
  background: #A86018; }

.bg--frozen {
  background: #76C3E5; }

.bg--sundries {
  background: #BFBD62; }

.bg--packaged {
  background: #1B699E; }

.bg--junk {
  background: #5A427F; }

.bg--beverages {
  background: #5ba4d4; }

.bg--baking {
  background: #c7ab2c; }

.bg--mint-hover {
  background: #10977C; }

.bg--produce-hover {
  background: #509b0d; }

.bg--mint-trans {
  background: rgba(5, 208, 168, 0.5); }

.list {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0; }

.list li:first-child {
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-top-right-radius: 7px;
  -moz-border-top-left-radius: 7px; }

.li {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.6);
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  padding: 5px; }

.li-done {
  opacity: 0.33;
  background: #B2B2B2; }

.li--first {
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-top-right-radius: 7px;
  -moz-border-top-left-radius: 7px; }

.li--slate {
  background: #3A3A3A; }

.li--metal {
  background: #5a5a5a; }

.li--cloud {
  background: #B2B2B2; }

.li--ash {
  background: #e7e7e7; }

.li--ice {
  background: #f7f7f7; }

.li--mint {
  background: #05D0A8; }

.li--danger {
  background: #D44216; }

.li--add {
  background: #1cd8ed; }

.li--meat {
  background: #7C1347; }

.li--dairy {
  background: #128493; }

.li--produce {
  background: #407F08; }

.li--bakery {
  background: #A86018; }

.li--frozen {
  background: #76C3E5; }

.li--sundries {
  background: #BFBD62; }

.li--packaged {
  background: #1B699E; }

.li--junk {
  background: #5A427F; }

.li--beverages {
  background: #5ba4d4; }

.li--baking {
  background: #c7ab2c; }

.li--mint-hover {
  background: #10977C; }

.li--produce-hover {
  background: #509b0d; }

.li--mint-trans {
  background: rgba(5, 208, 168, 0.5); }

.btn-box {
  width: 30px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center; }

.list-btn-row {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  width: 100%;
  font-size: 1.2em;
  font-weight: 400;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center; }

.search-filter-bar {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  margin-right: auto;
  margin-left: auto;
  align-items: flex-end;
  width: 95%; }

.search-box {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 33%; }

.filter-bar {
  color: #f7f7f7;
  margin: 0 5px; }

.filter-section {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex: 1 1 auto;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 7px;
  padding-top: 5px;
  color: #B2B2B2; }

.filter-sort-btns {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  justify-content: flex-end;
  color: #B2B2B2; }

.filter-cats {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center; }

.btn {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 1.15em;
  font-weight: 400; }

.btn-sm {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  cursor: pointer;
  padding: 3px 8px;
  font-size: 1.0em;
  font-weight: 400; }

.btn-xs {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  cursor: pointer;
  padding: 2px 4px;
  font-size: 0.85em;
  font-weight: 400; }

.btn-done {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  cursor: pointer;
  padding: 3px 8px;
  font-size: 1.0em;
  font-weight: 400;
  color: #05D0A8;
  background: #f7f7f7;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2); }

.btn-ol--mint {
  box-sizing: border-box;
  border: 2px solid #05D0A8;
  color: #05D0A8;
  background: #f7f7f7; }

.btn-ol--danger {
  box-sizing: border-box;
  border: 1px solid #D44216;
  color: #D44216;
  background: #f7f7f7; }

.btn--slate {
  background: #3A3A3A;
  color: #f7f7f7; }

.btn--metal {
  background: #5a5a5a;
  color: #f7f7f7; }

.btn--cloud {
  background: #B2B2B2;
  color: #f7f7f7; }

.btn--ash {
  background: #e7e7e7;
  color: #f7f7f7; }

.btn--ice {
  background: #f7f7f7;
  color: #f7f7f7; }

.btn--mint {
  background: #05D0A8;
  color: #f7f7f7; }

.btn--danger {
  background: #D44216;
  color: #f7f7f7; }

.btn--add {
  background: #1cd8ed;
  color: #f7f7f7; }

.btn--meat {
  background: #7C1347;
  color: #f7f7f7; }

.btn--dairy {
  background: #128493;
  color: #f7f7f7; }

.btn--produce {
  background: #407F08;
  color: #f7f7f7; }

.btn--bakery {
  background: #A86018;
  color: #f7f7f7; }

.btn--frozen {
  background: #76C3E5;
  color: #f7f7f7; }

.btn--sundries {
  background: #BFBD62;
  color: #f7f7f7; }

.btn--packaged {
  background: #1B699E;
  color: #f7f7f7; }

.btn--junk {
  background: #5A427F;
  color: #f7f7f7; }

.btn--beverages {
  background: #5ba4d4;
  color: #f7f7f7; }

.btn--baking {
  background: #c7ab2c;
  color: #f7f7f7; }

.btn--mint-hover {
  background: #10977C;
  color: #f7f7f7; }

.btn--produce-hover {
  background: #509b0d;
  color: #f7f7f7; }

.btn--mint-trans {
  background: rgba(5, 208, 168, 0.5);
  color: #f7f7f7; }

.btn--drop-open {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  -moz-border-top-right-radius: 15px;
  -moz-border-top-left-radius: 15px; }

.drop-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-bottom-right-radius: 15px;
  -moz-border-bottom-left-radius: 15px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  width: 120px; }

.drop-li {
  padding: 5px 10px;
  margin: 0;
  background: #fff;
  line-height: 1.5em; }

.drop-li--active {
  background: #05D0A8;
  color: #fff; }

.ico {
  opacity: 0.25; }
  .ico:hover {
    opacity: 0.5; }

.ico--xs {
  width: 18px; }

.ico--sm {
  width: 25px; }

.ico--sm-med {
  width: 30px; }

.ico--med {
  width: 35px; }

.ico--lg {
  width: 50px; }

.ico--xl {
  width: 85px; }

.ico--menu {
  width: 75%; }

.ico--solid {
  opacity: 1.0; }

.ico--slate {
  fill: #3A3A3A; }

.ico--metal {
  fill: #5a5a5a; }

.ico--cloud {
  fill: #B2B2B2; }

.ico--ash {
  fill: #e7e7e7; }

.ico--ice {
  fill: #f7f7f7; }

.ico--mint {
  fill: #05D0A8; }

.ico--danger {
  fill: #D44216; }

.ico--add {
  fill: #1cd8ed; }

.ico--meat {
  fill: #7C1347; }

.ico--dairy {
  fill: #128493; }

.ico--produce {
  fill: #407F08; }

.ico--bakery {
  fill: #A86018; }

.ico--frozen {
  fill: #76C3E5; }

.ico--sundries {
  fill: #BFBD62; }

.ico--packaged {
  fill: #1B699E; }

.ico--junk {
  fill: #5A427F; }

.ico--beverages {
  fill: #5ba4d4; }

.ico--baking {
  fill: #c7ab2c; }

.ico--mint-hover {
  fill: #10977C; }

.ico--produce-hover {
  fill: #509b0d; }

.ico--mint-trans {
  fill: rgba(5, 208, 168, 0.5); }

.rnd {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background: #B2B2B2; }
  .rnd:hover {
    background: #05D0A8; }

.rnd--big {
  width: 60px; }

.logo-mobile {
  fill: #B2B2B2; }

.btn-menu-mobile {
  fill: #B2B2B2; }

.rmv-x {
  stroke-width: 6;
  stroke-linecap: round;
  stroke-miterlimit: 10; }

.mini-burger {
  stroke-width: 14;
  stroke-linecap: round;
  stroke-miterlimit: 10; }

.stroke--ice {
  stroke: #f7f7f7; }

.stroke--slate {
  stroke: #3A3A3A; }

.stroke--cloud {
  stroke: #B2B2B2; }

.check-out {
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  fill: none; }

.btn--drop {
  text-align: center; }

.txtbox-backup {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.33em;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  background: transparent; }

.txtbox {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.33em;
  font-weight: 500;
  text-transform: capitalize;
  border: 2px solid transparent;
  outline: none;
  background: transparent;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  color: #f7f7f7; }

.txtbox--sched {
  text-align: center;
  color: #f7f7f7; }

.txtbox--edit {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  color: #3A3A3A; }
  .txtbox--edit:focus {
    border: 2px solid #05D0A8; }

.txtbox__title {
  flex-grow: 1;
  padding: 5px 0 5px 10px;
  margin: 0 15px 0 5px;
  width: 25px; }

.txtbox--search {
  width: 100%;
  color: #f7f7f7;
  background: #5a5a5a; }

.txtbox--search::placeholder {
  color: #B2B2B2; }
  .txtbox--search::placeholder ::-webkit-input-placeholder {
    color: #B2B2B2; }
  .txtbox--search::placeholder :-moz-placeholder {
    color: #B2B2B2; }
  .txtbox--search::placeholder ::-moz-placeholder {
    color: #B2B2B2; }
  .txtbox--search::placeholder :-ms-input-placeholder {
    color: #B2B2B2; }

.txtbox--error {
  border: 2px solid #D44216;
  color: #D44216; }

.txtbox-rec {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.0em;
  font-weight: 500;
  color: #3A3A3A;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  outline: none;
  background: transparent;
  padding: 3px 0 3px 3px; }

.txtbox--done {
  text-decoration: line-through; }

.txtarea-rec {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  width: 100%;
  border: 1px solid #05D0A8;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  margin: 0;
  padding: 6px;
  outline: none;
  background: transparent;
  resize: none; }

.txtarea-rec--edit {
  background: white;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15); }
  .txtarea-rec--edit:focus {
    background: #05D0A8;
    color: white; }

.txtbox--rec-title {
  width: 100%;
  color: #f7f7f7;
  background: #05D0A8;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border: 2px solid transparent; }

.txtbox--rec-title-edit {
  background: white;
  color: #3A3A3A;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15); }
  .txtbox--rec-title-edit:focus {
    border: 2px solid #05D0A8; }

.txtbox-rec--edit {
  background: white;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15); }
  .txtbox-rec--edit:focus {
    border: 1px solid #05D0A8; }

#searchlist {
  color: purple; }

option {
  background: #f7f7f7;
  color: #3A3A3A;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: .9em;
  text-align: center;
  border: none;
  outline: none; }
  option:checked {
    display: none; }
  option:focus {
    outline: none;
    border: none; }

input::-webkit-calendar-picker-indicator {
  display: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0px solid #05D0A8; }
  select:focus {
    outline: none; }

.search {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: flex-end;
  margin: 0 10px;
  padding: 10px;
  color: #fff; }

.overlay {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 15;
  margin: 15px; }

.round {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background: #B2B2B2;
  width: 60px;
  height: 60px;
  margin-right: 5px; }
  .round:hover {
    background: #05D0A8; }

#plus {
  padding: 15px;
  fill: #f7f7f7; }

.lock {
  position: fixed;
  z-index: 20;
  background: #3A3A3A;
  opacity: 0.5;
  width: 100%;
  height: 100%; }

.menu {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #05D0A8;
  color: #f7f7f7;
  z-index: 50;
  position: absolute;
  padding: 20px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between; }

.logo-row {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between; }

.menu ul {
  list-style: none;
  font-size: 2em;
  font-weight: 500;
  line-height: 1.75em;
  padding-left: 25px; }

.credits {
  vertical-align: bottom;
  font-size: 1.25em; }

.rec-over {
  position: relative;
  width: 100%;
  flex: 1;
  z-index: 10;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  align-items: center; }

.rec-window {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 99%;
  background: #f7f7f7;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
  overflow-y: auto; }

.rec-header {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row-reverse;
  justify-content: flex-end; }

.rec-title {
  flex: 1;
  color: #f7f7f7;
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  font-size: 1.33em;
  text-transform: capitalize;
  font-weight: 500; }

.rec-block {
  color: #3A3A3A;
  margin: 10px; }

.rec-block__header {
  font-weight: 500;
  margin-left: 7px;
  font-size: 1.15em;
  vertical-align: bottom; }

.rec-txt-block {
  border: 1px solid #05D0A8;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  margin: 0; }

.rec-txt-block--table {
  width: 100%;
  margin: 0;
  padding: 0; }
  .rec-txt-block--tabletr {
    background: orange; }

.sched-box {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  color: #7C1347; }
  .sched-box:focus {
    background: purple;
    color: white; }

.rec-table--amt {
  width: 20%;
  padding-right: 5px; }

.rec-table--ing {
  padding-right: 5px; }

.table-head {
  background: #05D0A8;
  padding: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px; }

.rec-table {
  box-sizing: border-box;
  border-spacing: 0;
  border-collapse: separate; }

.rec-buttons {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  width: 100%;
  font-size: 1.2em;
  font-weight: 400;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.rec-add-btns {
  width: 100%;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.0em;
  color: #5a5a5a; }

.rec-ctrl-btns {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: flex-end;
  align-items: baseline;
  width: 100%; }

.rec-tags {
  padding: 5px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; }

.rec-tag__box {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin-right: 4px;
  padding: 3px;
  line-height: 2em; }

.rec-table--padding {
  padding: 5px; }

.rec-table--rnd-ul {
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px; }

.rec-table--rnd-ur {
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px; }

.rec-table tbody tr:nth-child(even) {
  background: #e7e7e7; }

.rec-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px; }

.rec-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px; }

.rec-table tr td:last-child {
  border-right: 1px solid #05D0A8; }

.rec-table tr td:first-child {
  border-left: 1px solid #05D0A8; }

.rec-table tr:last-child td {
  border-bottom: 1px solid #05D0A8; }

.rec-overlays {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  align-items: center; }

.rec-groc-pop {
  width: 85%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  z-index: 30;
  position: absolute;
  padding: 20px; }

.rec-groc-pop-alt {
  width: 85%;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  z-index: 30;
  position: absolute; }

.rec-groc-pop--mint {
  background: #05D0A8;
  color: #f7f7f7; }

.rec-groc-pop--ice {
  background: #f7f7f7;
  color: #3A3A3A; }

.rec-groc-pop__header {
  font-size: 1.5em;
  font-weight: 500; }

.added {
  font-weight: 500; }

.rec-list {
  background: #f7f7f7;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  color: #3A3A3A;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2); }

.rec-list td {
  padding: 5px; }

.check-box {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }

.check-box--border-slate {
  border: 2px solid #3A3A3A; }

.check-box--chk-slate {
  background: #3A3A3A; }

.check-box--border-metal {
  border: 2px solid #5a5a5a; }

.check-box--chk-metal {
  background: #5a5a5a; }

.check-box--border-cloud {
  border: 2px solid #B2B2B2; }

.check-box--chk-cloud {
  background: #B2B2B2; }

.check-box--border-ash {
  border: 2px solid #e7e7e7; }

.check-box--chk-ash {
  background: #e7e7e7; }

.check-box--border-ice {
  border: 2px solid #f7f7f7; }

.check-box--chk-ice {
  background: #f7f7f7; }

.check-box--border-mint {
  border: 2px solid #05D0A8; }

.check-box--chk-mint {
  background: #05D0A8; }

.check-box--border-danger {
  border: 2px solid #D44216; }

.check-box--chk-danger {
  background: #D44216; }

.check-box--border-add {
  border: 2px solid #1cd8ed; }

.check-box--chk-add {
  background: #1cd8ed; }

.check-box--border-meat {
  border: 2px solid #7C1347; }

.check-box--chk-meat {
  background: #7C1347; }

.check-box--border-dairy {
  border: 2px solid #128493; }

.check-box--chk-dairy {
  background: #128493; }

.check-box--border-produce {
  border: 2px solid #407F08; }

.check-box--chk-produce {
  background: #407F08; }

.check-box--border-bakery {
  border: 2px solid #A86018; }

.check-box--chk-bakery {
  background: #A86018; }

.check-box--border-frozen {
  border: 2px solid #76C3E5; }

.check-box--chk-frozen {
  background: #76C3E5; }

.check-box--border-sundries {
  border: 2px solid #BFBD62; }

.check-box--chk-sundries {
  background: #BFBD62; }

.check-box--border-packaged {
  border: 2px solid #1B699E; }

.check-box--chk-packaged {
  background: #1B699E; }

.check-box--border-junk {
  border: 2px solid #5A427F; }

.check-box--chk-junk {
  background: #5A427F; }

.check-box--border-beverages {
  border: 2px solid #5ba4d4; }

.check-box--chk-beverages {
  background: #5ba4d4; }

.check-box--border-baking {
  border: 2px solid #c7ab2c; }

.check-box--chk-baking {
  background: #c7ab2c; }

.check-box--border-mint-hover {
  border: 2px solid #10977C; }

.check-box--chk-mint-hover {
  background: #10977C; }

.check-box--border-produce-hover {
  border: 2px solid #509b0d; }

.check-box--chk-produce-hover {
  background: #509b0d; }

.check-box--border-mint-trans {
  border: 2px solid rgba(5, 208, 168, 0.5); }

.check-box--chk-mint-trans {
  background: rgba(5, 208, 168, 0.5); }

.rec-delete {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: baseline;
  margin-left: 20px;
  flex: 1; }

.popup-header {
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-top-right-radius: 7px;
  -moz-border-top-left-radius: 7px; }

.cal-view {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  height: 75px;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch; }

.cal-day {
  flex: 0 0 auto;
  border-right: 1px solid #5a5a5a;
  width: 75px;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0; }

.cal-slot {
  background: #B2B2B2;
  opacity: 0.33;
  height: 33.33%;
  width: 100%; }

.cal-slot--full {
  opacity: 1.0;
  background: #05D0A8; }

.cal__date {
  z-index: 1;
  padding: 4px;
  color: white;
  position: absolute;
  margin-left: 3px;
  font-size: 1.45em;
  font-weight: 700;
  line-height: 0.75em;
  text-shadow: 2px 5px 8px rgba(0, 0, 0, 0.15); }

.sum__date {
  font-size: 2.0em; }

.cal__day {
  font-size: .6em;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 0; }

.sum {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  flex: 1; }

.sum-view {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  flex: 1 0 auto; }

.sum-day {
  flex: 0 0 auto;
  border-right: 1px solid #3A3A3A;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  overflow-y: auto;
  flex-wrap: nowrap; }

.sum-div {
  width: 100%; }

.sum-meal {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column; }

.sum-meal--solo {
  height: 100%; }

.meal-slot {
  flex: 1 0 auto;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 40px; }

.meal-slot--berp {
  flex: 1;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 40px; }

.sched-edit {
  width: 100%;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  color: #5a5a5a; }

.sched-datetime {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: baseline; }

.meal-slot--mint {
  border-bottom: 1px solid #f7f7f7;
  background: #05D0A8; }

.meal-slot--ice {
  background: #f7f7f7; }

.meal-slot--edit {
  border-bottom: 1px solid #B2B2B2;
  padding: 10px 0; }

.recipe-slot {
  width: 100%;
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  color: #f7f7f7; }

.recipe-title {
  cursor: pointer;
  font-size: 1.33em;
  font-weight: 500;
  text-transform: capitalize;
  padding: 5px;
  width: 100%;
  text-align: center;
  background: #05D0A8; }
  .recipe-title:hover {
    background: #10977C; }

.recipe-icon {
  position: absolute;
  opacity: 0.5;
  padding: 5px 15px;
  cursor: pointer; }
  .recipe-icon:hover {
    opacity: 0.85; }

.meal-add {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 30px;
  height: 30px; }

.meal-break {
  height: 15px;
  width: 100%;
  background: #3A3A3A; }

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #3A3A3A;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; }

.container {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 94%;
  height: 100%;
  position: relative; }

.container--wrap {
  flex-wrap: wrap; }

#listFilter {
  width: 100%; }

#groceryList {
  width: 100%;
  overflow: auto; }

.header {
  width: 100%; }

.food-list {
  align-items: center;
  height: 100%; }

.food-details {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  padding: 5px 10px; }

.detail {
  font-size: 1.2em;
  font-weight: 400;
  color: #3A3A3A;
  padding: 5px; }

.button-row {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  width: 100%;
  font-size: 1.2em;
  font-weight: 400;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center; }

.error-mssg {
  background: #f7f7f7;
  color: #D44216;
  padding-left: 50px; }

.nav-mobile {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between; }

/*# sourceMappingURL=styles.css.map */
