/* multi
line
comment 
*/
/*! loud comment */
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #3A3A3A;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; }

#header {
  height: 65px; }

.container {
  margin-right: auto;
  margin-left: auto;
  width: 94%;
  height: 100%; }

.food {
  align-items: center; }
  .food.list {
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-top-left-radius: 7px;
    -moz-border-top-right-radius: 7px;
    -moz-border-top-left-radius: 7px;
    background: #f7f7f7;
    height: 100%; }
  .food.item {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75); }
  .food.display {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    padding: 5px;
    height: 40px; }
    .food.display.produce {
      background: #407F08; }
    .food.display.edit {
      background: #f7f7f7; }
  .food.edit {
    background: #f7f7f7; }
  .food.icon {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.4em;
    font-weight: 700; }
    .food.icon.svg {
      width: 25px;
      height: 25px;
      opacity: 0.25;
      margin-right: 15px;
      fill: #f7f7f7; }
    .food.icon.meat {
      color: #7C1347;
      border: 2px solid #7C1347; }
    .food.icon.produce {
      background: #f7f7f7;
      color: #407F08;
      border: 2px solid #407F08; }

.text-input {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.33em;
  font-weight: 500;
  color: #f7f7f7;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  background: transparent;
  padding: 5px 0 5px 10px;
  margin: 0 15px 0 5px;
  border: none;
  outline: none; }
  .text-input.title {
    width: 25px;
    flex-grow: 1; }
  .text-input.edit {
    background: #fff;
    color: #3A3A3A;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15); }
  .text-input:focus {
    background: #3A3A3A;
    color: #f7f7f7; }

.food-details {
  display: flex;
  padding: 5px 10px; }

.detail {
  font-size: 1.2em;
  font-weight: 400;
  color: #3A3A3A;
  padding: 5px; }

.button {
  padding: 5px 10px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  font-size: 1.15em;
  font-weight: 400; }
  .button.mint {
    background: #05D0A8;
    color: #f7f7f7; }
    .button.mint:hover {
      background: #10977C; }
  .button.grey {
    background: #5a5a5a;
    color: #f7f7f7; }
    .button.grey:hover {
      background: #3A3A3A; }
  .button.drop {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-top-left-radius: 15px;
    -moz-border-top-right-radius: 15px;
    -moz-border-top-left-radius: 15px; }

.dropdown {
  list-style: none;
  margin: 0;
  padding: 0; }
  .dropdown.list {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-bottom-right-radius: 15px;
    -moz-border-bottom-left-radius: 15px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2); }
  .dropdown.item {
    padding: 5px 10px;
    margin: 0;
    background: #fff;
    line-height: 1.5em; }
    .dropdown.item.select {
      color: #fff;
      background: #05D0A8;
      outline: none; }
    .dropdown.item.end {
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
      -webkit-border-bottom-right-radius: 15px;
      -webkit-border-bottom-left-radius: 15px;
      -moz-border-bottom-right-radius: 15px;
      -moz-border-bottom-left-radius: 15px; }
    .dropdown.item:hover {
      color: #fff;
      background: #05D0A8;
      outline: none; }
  .dropdown.hide {
    display: none; }

/*# sourceMappingURL=styles.css.map */
