.txtbox-backup{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.33em;
    font-weight: 500;

    border:none;
    outline: none;

    

    @include round(15px);
    background:transparent;
}

.txtbox{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.33em;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid transparent;
    outline: none;
    background:transparent;
    // padding: 5px;
    @include round(3px);
    color: map-get($colors, ice);
}

.txtbox--sched{
    text-align: center;
    color: map-get($colors, ice);
}


.txtbox--edit{
    @include shadow(0.15);
    background: map-get($colors, white);
    color: map-get($colors, slate);
    &:focus{
        // background: map-get($colors, slate);
        // color: map-get($colors, ice);
        border: 2px solid map-get($colors, mint);
    }
}


.txtbox__title{
    flex-grow: 1;
    padding:5px 0 5px 10px;
    margin: 0 15px 0 5px;
    width: 25px;
    // color: map-get($colors, ice);
}

.txtbox--search{
    width: 100%;
    color: map-get($colors, ice);
    background: map-get($colors, metal);
    // opacity: 0.25;
    
}

.txtbox--search::placeholder{
    @include placeholder{
        color: map-get($colors, cloud);
    }
    color: map-get($colors, cloud);
}

.txtbox--error{
    background: map-get($colors, danger);
    color: #fff;
}

.txtbox-rec{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.0em;
    font-weight: 500;
    // text-transform: capitalize;
    color: map-get($colors, slate);
    // border: none;
    box-sizing: border-box;
    border: 1px solid transparent;
    @include round(5px);
    outline: none;
    background:transparent;
    padding: 3px 0 3px 3px;
}

.txtbox--done{
    text-decoration: line-through;
}

.txtarea-rec{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    width: 100%;
    border: 1px solid map-get($colors, mint);
    @include round(7px);
    margin: 0;
    padding: 6px;
    outline: none;
    background: transparent;
    resize: none;
}

.txtarea-rec--edit{
    background: white;
    @include shadow(0.15);
    &:focus{
        background: map-get($colors, mint);
        color: white;
    }
}


.txtbox--rec-title{
    width: 100%;
    color: map-get($colors, ice);
    background: map-get($colors, mint);
    @include round(0);
    @include round-top-left(5px);
    border: 2px solid transparent;
    // flesx: 1;
    // background: orange;
}

.txtbox--rec-title-edit{
    background: white;
    color: map-get($colors, slate);
    @include shadow(0.15);
    &:focus{
        border: 2px solid map-get($colors, mint);
    }
}


.txtbox-rec--edit{
    background: white;
    @include shadow(0.15);
    &:focus{
        border: 1px solid map-get($colors, mint);
        // @include shadow(0.15);
    }
}