.li{
    @include shadow(0.60);
    // margin: 3px 0;
}

.li-banner{
    @include flexbox;
    padding: 5px;
    // height: 40px;
}

.li--first{
    @include round-top(7px);
}

@each $clr, $val in $colors{
    .li--#{$clr}{
        background: $val;
    }
}

.li-badge{
    @include round(50%);
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.4em;
    font-weight: 700;
    background: map-get($colors, ice);
}

@each $clr, $val in $colors{
    .li-badge--#{$clr}{
        color: $val;
        border: 2px solid $val;
    }
}

.btn-box{
    width: 30px;
    @include flexbox;
    flex-direction: column;
    justify-content: center;
}



.list-btn-row{
    @include flexbox;
    width: 100%;
    font-size: 1.2em;
    font-weight: 400;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}