

.list {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
}

.list li:first-child{
    @include round-top(7px);
}

.li{
    @include shadow(0.60);
    @include flexbox;
    padding: 5px;
    // margin: 3px 0;
}


.li--first{
    @include round-top(7px);
}

@each $clr, $val in $colors{
    .li--#{$clr}{
        background: $val;
    }
}

.btn-box{
    width: 30px;
    @include flexbox;
    flex-direction: column;
    justify-content: center;
}



.list-btn-row{
    @include flexbox;
    width: 100%;
    font-size: 1.2em;
    font-weight: 400;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

