///////////////
// cal view //
//////////////

.cal-view{
    @include flexbox;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    height: 75px;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
}

.cal-day{
    flex: 0 0 auto;
    border-right: 1px solid map-get($colors, metal);
    width: 75px;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

.cal-slot{
    background: map-get($colors, cloud);
    opacity:0.33;
    height: 33.33%;
    width: 100%;
}

.cal-slot--full{
    opacity: 1.0;
    background: map-get($colors, mint);
}

.cal__date{
    z-index: 1;
    padding: 4px;
    color: white;
    position: absolute;
    margin-left: 3px;
    font-size: 1.45em;
    font-weight: 700;
    line-height: 0.75em;
    @include txt-shadow(0.15);   
}

.sum__date{
    font-size: 2.0em;
}

.cal__day{
    font-size: .6em;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    padding: 0;   
}


/////////////////
// day summary //
/////////////////

.sum{
    @include flexbox;
    @include center;
    flex-direction: row;
    justify-content: flex-start;   
    background: map-get($colors, metal);
    width: 100%;
    flex: 1;
}

.sum-view{
    @include flexbox;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    flex: 1 0 auto;
}

.sum-day{
    flex: 0 0 auto;
    border-right: 1px solid map-get($colors, slate);
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    background: map-get($colors, ice);
    @include flexbox;
    flex-direction: column;
    overflow-y: auto;
    flex-wrap: nowrap;
}


.sum-div{
    width: 100%;
}

.sum-meal{
    @include flexbox;
    flex-direction: column;
}

.meal-slot{
    flex: 1 0 auto;
    @include flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 40px;
}

.sched-edit{
    width: 100%;
    @include flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    color: map-get($colors, metal);
}

.sched-datetime{
    @include flexbox;
    align-items: baseline;
}

.meal-slot--mint{
    border-bottom: 1px solid map-get($colors, ice);
    background: map-get($colors, mint);
}

.meal-slot--ice{
    background: map-get($colors, ice);
}

.meal-slot--edit{
    border-bottom: 1px solid map-get($colors, cloud);
    padding: 10px 0;
}

.recipe-slot{
    width: 100%;
    position: relative;
    @include flexbox;
    flex-direction: row-reverse;
    // justify-content: center;
    align-items: center;
    color: map-get($colors, ice);
}

.recipe-title{
    cursor: pointer;
    font-size: 1.33em;
    font-weight: 500;
    text-transform: capitalize;
    padding: 5px;
    width: 100%;
    text-align: center;
    background: map-get($colors, mint);
    &:hover{
        background: map-get($colors, mint-hover);
    } 
}

.recipe-icon{
    position: absolute;
    opacity: 0.5;
    padding: 5px 15px;
    cursor: pointer;

    &:hover{
        opacity: 0.85;
    }
}

.meal-add{
    @include shadow(0.15);
    @include round(50%);
    width: 30px;
    height: 30px;
}

.meal-break{
    height: 15px;
    width: 100%;
    background: map-get($colors, slate);
}