//////////////////////
// margin/padding gen
/////////////////////
$nudge: (2:2, 3:3, 5:5, 7:7, 10:10, 12:12, 15:15, 20:20, 25:25, 30:30, 50:50);
@each $inc, $amt in $nudge{
    .m-r-#{$inc}
    {
        margin-right: #{$amt}px;
    };
    .m-l-#{$inc}
    {
        margin-left: #{$amt}px;
    };
    .m-t-#{$inc}{
        margin-top: #{$amt}px;
    };
    .m-b-#{$inc}{
        margin-bottom: #{$amt}px;
    }
    .m-#{$inc}{
        margin: #{$amt}px;
    };
    .p-r-#{$inc}
    {
        padding-right: #{$amt}px;
    };
    .p-l-#{$inc}
    {
        padding-left: #{$amt}px;
    };
    .p-t-#{$inc}{
        padding-top: #{$amt}px;
    };
    .p-b-#{$inc}{
        padding-bottom: #{$amt}px;
    }
    .p-#{$inc}{
        padding: #{$amt}px;
    };
}

@each $inc, $amt in $nudge{
    .spacer-#{$inc}{
        width: #{$amt}px; 
    }
}



/////////////////
// flexbox utils
/////////////////
.flex--ai-ctr{
    align-items: center;
}

////

.hide{
    display: none;
}


//////////
// text colors
////////

@each $clr, $val in $colors{
    .txt--#{$clr}{
        color: map-get($colors, #{$clr});
    }
}

///////////////
// svg fills //
///////////////

@each $clr, $val in $colors{
    .fill--#{$clr}{
        fill: map-get($colors, #{$clr});
    }    
}


///
// BGs

@each $clr, $val in $colors{
    .bg--#{$clr}{
        background: map-get($colors, #{$clr});
    }
}