$mint: #05D0A8;
$mint-dark: #22302D;
$ice: #F7F7F7;
$slate: #3A3A3A;
$meat: #7C1347;
$dairy: #0F727C;
$produce: #407F08;
$bakery: #A86018;
$frozen: #61C1C1;
$sundries: #DD5ED1;
$packaged: #272C82;



$phone-portrait-min: 320px;
$phone-portrait-max: 480px;
$phone-land-min: $phone-portrait-max + 1;
$phone-land-max: 767px;
$tab-land-min: $phone-land-max + 1;
$tab-land-max: 1024px;
$desktop-min: $tab-land-max + 1;

