.box{
    width:100px;
    height:100px;
    position: relative;
    box-sizing: border-box;
    background: black;
  }
  
  .red{
    background:red;

  }
  
  .blue{
    background: blue;
    padding: 0;
    margin: 0;
    /* display:none;
    overflow: hidden; */
    /* transition: 1.0s ease-in-out; */
  }
  
  .green{
    background: green;
  }
  
  .hide{

    max-height: 0;

    overflow: hidden;
    /* transition: all 2.0s ease-in-out; */

  } 

  /* .show{
   /* display: block;
   max-height: auto; */
    /* transition: all 5.0s ease-in-out; */

